:host {
  background-color: black;
  box-shadow: inset 0px 0px 100px 50px rgba(0,0,0,1);
}
.background{
  //background-color: black;
  box-shadow: inset 0px 0px 100px 50px rgba(0,0,0,1);
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.background-video {
  height: 100%;
  left: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

.main-page-videoplay {
  height: 100%;
  left: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  box-shadow: inset 0px 0px 100px 50px rgba(0,0,0,1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-wrap {
  height: 85vh;
}

.title-text {
  font-size: 24px;
  max-width: 900px;
  text-align: center;
  margin-top: 10px;
}

.banner-title {
  width: 400px;
  height: 200px;
}

.card-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 200px;
}

.example-card {
  max-width: 400px;
  width: 100%;
  height: 500px;
}

.card-block-wrap{
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.example-header-image{
  background-image: url(/assets/images/logo-radiation.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.card-image{
  width: 100%;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
}

.roadmap {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
}

.roadmap-title {
  text-align: center;
  font-size: 2em;
  color: #ffffff;
}

.roadmap-timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.roadmap-quarter {
  background-color: #1e1e1ed4;
  padding: 20px;
  border-radius: 8px;
  width: 180px;
  text-align: center;
}

.roadmap-quarter h3 {
  color: #03DAC5;
  margin-bottom: 10px;
}

.roadmap-item {
  background-color: #333;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.roadmap-date {
  font-weight: bold;
  color: #BB86FC;
  display: block;
  margin-bottom: 5px;
}

.roadmap-item p {
  margin: 0;
}

.tokenomics{
  max-width: 1300px;
  width: 100%;
  margin: 30px auto;
  background-color: #1e1e1ed4;
  padding: 20px;
  border-radius: 8px;
  &-list{
    margin-left: 40px;
  }
}

.renderer-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
}

//@media (max-width: 1024px) {
//  .card-block {
//    grid-template-columns: repeat(2, 1fr); /* 2 в ряд на средних экранах */
//  }
//}
//
@media (max-width: 600px) {
  .banner-title {
    width: 300px;
  }
}