*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dark{
  ::-webkit-scrollbar {
    width: 8px; /* Ширина скроллбара */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Цвет ползунка */
    border-radius: 4px; /* Закругленные края */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #afafaf; /* Цвет при наведении */
  }

  ::-webkit-scrollbar-track {
    background-color: #737373; /* Цвет трека */
    border-radius: 4px;
  }
  .sidebar {
    background-color: #101415;
    color: white;
    border-right: 1px solid #444;
  }

  .header {
    background-color: #0d111c;
    color: white;
  }

  .content {
    background-color: #111828;
  }

  .footer {
    background-color: #0d111c;
    color: white;
  }
}

.light{
  ::-webkit-scrollbar {
    width: 8px; /* Ширина скроллбара */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #303030; /* Цвет ползунка */
    border-radius: 4px; /* Закругленные края */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Цвет при наведении */
  }

  ::-webkit-scrollbar-track {
    background-color: #888888; /* Цвет трека */
    border-radius: 4px;
  }
  .sidebar {
    background-color: white;
    color: black;
    border-right: 1px solid #e1e1e1;
  }

  .header {
    background-color: white;
    color: black;
    border-bottom: 1px solid #e1e1e1;
  }

  .content {
    background-color: white;
  }

  .footer {
    background-color: white;
    color: black;
    border-top: 1px solid #e1e1e1;
  }
}

.blue{
  ::-webkit-scrollbar {
    width: 8px; /* Ширина скроллбара */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #1637f1; /* Цвет ползунка */
    border-radius: 4px; /* Закругленные края */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #344fed; /* Цвет при наведении */
  }

  ::-webkit-scrollbar-track {
    background-color: #9c9a9a; /* Цвет трека */
    border-radius: 4px;
  }
  .sidebar {
    background-color: #2c3e50;
    color: white;
    border-right: 1px solid #e1e1e1;
  }

  .header {
    background-color: #34495e;
    color: white;
    border-bottom: 1px solid #e1e1e1;
  }

  .content {
    background-color: #7e7d7d;
  }

  .footer {
    background-color: #34495e;
    color: white;
    border-top: 1px solid #e1e1e1;
  }
}

.pink{
  ::-webkit-scrollbar {
    width: 8px; /* Ширина скроллбара */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #fab3b3; /* Цвет ползунка */
    border-radius: 4px; /* Закругленные края */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #efacac; /* Цвет при наведении */
  }

  ::-webkit-scrollbar-track {
    background-color: #9e9e9e; /* Цвет трека */
    border-radius: 4px;
  }
  .sidebar {
    background-color: white;
    color: black;
    border-right: 1px solid #f4b7b7;
  }

  .header {
    background-color: #fed9e1;
    color: #ad0955;
    border-right: 1px solid #f4b7b7;
  }

  .content {
    background-color: white;
  }

  .footer {
    background-color: white;
    color: #ad0955;
    border-top: 1px solid #f4b7b7;
  }
}
