:host{
  ::ng-deep .mdc-list-item__primary-text{
    display: flex !important;
    gap: 5px !important;
  }

  .menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    &-item{
      width: 100%;
    }
  }
}
